.h-100
{
    width: 75px;
    height: 75px;
}

header div div
{
    background-color: blue;
    width: 75px;
}

i.fa-lock{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    font-size: 1.5em;
}
.mant{
    position: absolute;
    transform: translate(-50%, -50%);
}
#myButton {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .moved {
    top: 10px;
    left: 10px;
  }